<!-- <div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div> -->
<section class="intro">
    <row>

      <div class="col-lg-6 col-sm-12 left">
      </div>
      <div class="col-lg-6 col-sm-12 right login">

      </div>
    </row>
  </section>
